.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sidebar{
  background-color:  #358597;
  height: 1000px;
  font-size: medium;
}
.table{
  text-align: center;
  width: 80%;
}
table tr{
  background-color: rgb(183, 218, 232);
  border: none;
  font-size: larger;
}

tr:nth-child(even) {background-color: #f2f2f2;}

.table td{
  color:maroon;
  text-align: center;
  font-style: italic;
}
.table th{
  color: maroon;
  font-style: italic;

}

.btn1{
  background-color: none;
  border: none;
  align-content: center;
  font-size: large;
  color: rgb(24, 171, 229);
  font-weight: bold;
}
.btn2{
  background-color: none;
  border: none;
  align-content: center;
  font-size: large;
  color:red;
  font-weight: bold;
}

.adds{
  font-size: larger;
  color: blue;
  font-weight:  bold;
  font-family: italic;
  align-content: center;
  margin-left: 20px;

}

.edits{
  font-size: larger;
  color: blue;
  font-weight:  bold;
  font-family: italic;
  align-content: center;
  margin-left: 20px;

}

.btn{
  height: 40px;
  width: 80px;
  text-align: center;
  background-color: aliceblue;
  border-radius: 8px;
}

.btn:hover{
  border-color:  aliceblue;
  opacity: 5px;
  
}